<div class="dropdown w-full">
    <button class="dropbtn1 text-xs">Projects</button>
    <div class="dropdown-content1">
      <ul class="text-gray-500 ml-10">
        <li>
          <a href="#" style="padding:5px!important;">My Projects</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">View Project</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Targets</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Budget</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Users</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Files</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Activity</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Setting</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown w-full">
    <button class="dropbtn1 text-xs">eCommerce</button>
    <div class="dropdown-content1">
      <ul class="text-gray-500 ml-10">
        <li>
          <a href="#" style="padding:5px!important;">Catalog</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Sales</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Customers</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Reports</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Settings</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown w-full">
    <button class="dropbtn1 text-xs">Support Center</button>
    <div class="dropdown-content1">
      <ul class="text-gray-500 ml-10">
        <li>
          <a href="#" style="padding:5px!important;">Overview</a>
        </li>
        <li>
          <div class="dropdown w-full">
            <button class="dropbtn1 text-xs">Tickets</button>
            <div class="dropdown-content1">
              <ul class="text-gray-500 ml-10">
                <li>
                  <a href="#" style="padding:5px!important;">Ticket List</a>
                </li>
                <li>
                  <a href="#" style="padding:5px!important;">Ticket View</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Tutorials</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">FAQ</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Licences</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown w-full">
    <button class="dropbtn1 text-xs">User Management</button>
    <div class="dropdown-content1">
      <ul class="text-gray-500 ml-10">
        <li>
          <a href="#" style="padding:5px!important;">Catalog</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Sales</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Customers</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Reports</a>
        </li>
        <li>
          <a href="#" style="padding:5px!important;">Settings</a>
        </li>
      </ul>
    </div>
  </div>