<div class="main-layout" [dir]="layoutService.direction">
  <!-- Sidebar -->
  <div class="sidebar dark-mode sidebarborder" [class.sidebar-close]="!layoutService.openSidebar">
    <div class="logo-details flex justify-center sidebar-logoborder">
      <img src="https://angular.tw/assets/images/logos/angular/logo-nav@2x.png" *ngIf="layoutService.openSidebar"
        style="height:40px;">
      <img src="assets/icon.png" *ngIf="!layoutService.openSidebar" style="height:40px;">
    </div>

    <ul class="nav-links" style="height:80%;" id="nav-links">
      <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
        <h1 class="uppercase text-gray-400 text-xs mx-5 font-semibold tracking-widest mt-10 mb-5"
          *ngIf="item.heading && layoutService.openSidebar">
          {{item.heading}}</h1>
        <h1 class="uppercase text-gray-400 text-xs mx-5 font-semibold tracking-widest mt-10 mb-5"
          *ngIf="item.heading && !layoutService.openSidebar"></h1>
        <ul>
          <li class="dropdown-title flex-col w-full" *ngFor="let subPart of item.subpart" #itemEl3>
            <a *ngIf="subPart.link!='null'" [routerLink]="[subPart.link]" routerLinkActive="active"
              class="text-gray-400 text-sm font-semibold">
              <i [class]="subPart.icon" class="link_icon"></i>
              <span class="link_name">{{subPart.link_name}}</span>
            </a>
            <a *ngIf="subPart.link=='null'" class="text-gray-400 text-sm font-semibold flex flex-row"
              (click)="showSubmenu(itemEl3)">
              <i [class]="subPart.icon" class="link_icon"></i>
              <span class="link_name">{{subPart.link_name}}</span>
              <i class="fa fa-angle-down text-gray-400 text-sm font-semibold mr-1 absolute"
                [ngClass]="layoutService.direction=='ltr'?'right-0':'left-0'" style="font-size:12px;"
                *ngIf="layoutService.openSidebar"></i>
            </a>
            <ul class="sub-menu">
              <li #itemEl2 *ngFor="let item_sub of subPart.sub_menu">
                <div *ngIf="item_sub.submenu2.length == 0">
                  <a class="text-gray-400 text-sm font-semibold" routerLink="{{item_sub.link}}"
                    routerLinkActive="active">{{item_sub.link_name}}</a>
                </div>
                <div class="flex flex-row" *ngIf="item_sub.submenu2.length > 0">
                  <a class="text-gray-400 text-sm font-semibold"
                    (click)="showSubmenu2(itemEl2)">{{item_sub.link_name}}</a>
                  <i class="fa fa-angle-down text-gray-400 text-sm font-semibold" style="font-size:12px;"></i>
                </div>
                <ul class="sub-menu sub-menu2">
                  <li *ngFor="let itemsub of item_sub.submenu2">
                    <a class="text-gray-400 text-sm font-semibold" [routerLink]="[itemsub.link]"
                      routerLinkActive="active">{{itemsub.link_name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </li>
    </ul>

    <div style="height:10%;" class="flex flex-row items-center justify-center py-5">
      <button class="btn-docs w-full mx-5" *ngIf="layoutService.openSidebar">Docs & Components</button>
      <div *ngIf="!layoutService.openSidebar" style="height:40px; width:50px; background-color: #009ef7;" class="mx-3 rounded-lg">
      </div>
    </div>
  </div>
  <section class="home-section">
    <div class="grow flex flex-col" [ngClass]="layoutService.darkMode ? 'dark-mode': 'light-mode'">
      <!-- Header -->
      <div class="flex flex-row items-center justify-between py-3 px-4 sticky top-0 z-10 header-shadow"
        [ngClass]="layoutService.darkMode ? 'dark-mode': 'light-mode'">
        <div class="w-1/2 flex flex-row">
          <div class="hamburger-menu">
            <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="layoutService.openSidebar" (click)="checkSidebar(!layoutService.openSidebar)"/>
            <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
              <i class="fa fa-angle-right text-gray-700" *ngIf="layoutService.openSidebar"></i>
              <i class="fa fa-bars text-gray-700" *ngIf="!layoutService.openSidebar"></i>
            </label>
          </div>
          <div class="flex-row hidden lg:flex">
            <div class="dropdown">
              <button class="dropbtn mx-1">Dashboards</button>
              <div class="dropdown-content" style="min-width:900px;"
                [ngClass]="layoutService.darkMode ? 'bg-black': 'bg-white'">
                <app-dashboards-header-dropdown></app-dashboards-header-dropdown>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn mx-1">Pages</button>
              <div class="dropdown-content" style="min-width:900px;"
                [ngClass]="layoutService.darkMode ? 'bg-black': 'bg-white'">
                <app-pages-header-dropdown></app-pages-header-dropdown>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn mx-1">Apps</button>
              <div class="dropdown-content" [ngClass]="layoutService.darkMode ? 'bg-black': 'bg-white'">
                <app-apps-header-dropdown></app-apps-header-dropdown>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn mx-1">Layouts</button>
              <div class="dropdown-content" style="min-width:900px;"
                [ngClass]="layoutService.darkMode ? 'bg-black': 'bg-white'">
                <app-layouts-header-dropdown></app-layouts-header-dropdown>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn mx-1">Help</button>
              <div class="dropdown-content" [ngClass]="layoutService.darkMode ? 'bg-black': 'bg-white'">
                <app-help-header-dropdown></app-help-header-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="avatarDropdown==true" style="position:absolute; top:65px; border-radius:5px; z-index:1111;"
          class="bg-white rounded-xl py-2 px-5"
          [ngClass]="[layoutService.darkMode ? 'bg-black': 'bg-white', layoutService.direction == 'ltr' ? 'right-5': 'left-5']">
          <app-profile-header-dropdown></app-profile-header-dropdown>
        </div>
        <div class="w-1/2 text-sm flex flex-col lg:flex-row justify-end items-center">
          <div class="flex flex-col lg:flex-row items-center">
            <div class="my-2 lg:my-0">
              <app-layout-change></app-layout-change>
            </div>
            <div class="my-2 lg:my-0">
              <app-mode-change></app-mode-change>
            </div>
          </div>
          <div class="hidden lg:flex flex-row items-center">
            <i class="fa fa-search mx-3 text-gray-300"></i>
            <i class="fa fa-message mx-3 text-gray-300"></i>
            <i class="fa fa-comments mx-3 text-gray-300"></i>
            <i class="fa fa-search mx-3 text-gray-300"></i>
            <i class="fa fa-message mx-3 text-gray-300"></i>
            <i class="fa fa-comments mx-3 text-gray-300"></i>
            <img src="assets/avatar.jpg" class="avatar mx-3" (click)="avatarDropdown=!avatarDropdown;">
          </div>
        </div>
      </div>

      <!-- routing section -->
      <div class="grow flex flex-row" [ngClass]="layoutService.darkMode ? 'dark-mode': 'light-mode'">
        <div class="h-full w-full">
          <router-outlet fxFlex></router-outlet>
        </div>
      </div>
    </div>
  </section>

  <!-- Scroll top -->
  <div class="scroll-top" (click)="onActivate()"></div>
</div>