<div class="dropdown">
    <button class="dropbtn1 text-xs">Components</button>
    <div class="dropdown-content1">
      <a href="#">Check out over 200 in-house components, plugins and ready for solutions</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn1 text-xs">Documentation</button>
    <div class="dropdown-content1">
      <a href="#">Check out the complete documentation</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn1 text-xs">Changelog v8.2.0</button>
    <div class="dropdown-content1">
      <!-- <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a> -->
    </div>
  </div>