<div class="dropdown flex flex-row w-full" [dir]="layoutService.direction">
    <div class="flex flex-row">
      <div class="flex flex-col w-3/4 px-5">
        <div class="flex flex-wrap justify-between w-full border-b">
            <a href="{{menu.link}}" [ngClass]="{'active-tabs':router.url==menu.link}" class="flex p-2 flex-row w-1/2 my-2 px-5" *ngFor="let menu of headerMenu">
              <div class="w-1/4 flex flex-row justify-center items-center rounded-md mr-5" [ngClass]="layoutService.darkMode ? 'bg-gray-700': 'bg-gray-200'">
                <i class="fa fa-dashboard text-xl"></i>
              </div>
              <div class="flex flex-col w-3/4">
                <p class="text-sm font-semibold">{{menu.heading}}</p>
                <p class="text-sm text-gray-400 font-semibold">{{menu.subheading}}</p>
              </div>
            </a>
        </div>
        <div class="flex flex-row py-5" style="width:100%;">
          <div class="w-1/2">
            <h1 class="text-md font-semibold">Landing Page Templates</h1>
            <small class="text-gray-500 font-semibold">Qnpe Page landing template with pricing &
              others</small>
          </div>
          <div class="w-1/2 flex items-center justify-end">
            <button class="btn font-semibold">
              Explore
            </button>
          </div>
        </div>
      </div>
      <div class="w-1/4 p-5" [ngClass]="layoutService.darkMode ? 'bg-gray-700': 'bg-gray-200'">
        <h1 class="text-md font-semibold">More Dashboards</h1>
        <ul class="text-gray-500 ml-5 list-none">
          <li class="my-2" *ngFor="let dashboard of dashboards">{{dashboard.heading}}</li>
        </ul>
      </div>
    </div>
  </div>